<div class="flex justify-center items-center h-screen bg-gray-100">
    <div class="bg-white rounded-lg shadow-md p-8 max-w-sm w-full">
      <img loading="lazy" class="mx-auto w-32" src="/assets/login.jpg" alt="logo" />
  
      <h1 class="text-2xl font-bold text-gray-800 text-center mb-4">Log in Store</h1>
  
      <form [formGroup]="form" novalidate class="space-y-4" (ngSubmit)="doLogin()">
        <div>
          <input #nameInput formControlName="email" placeholder="Enter email" type="email"
            class="w-full px-4 py-2 rounded-lg bg-gray-200 border border-gray-300 focus:outline-none focus:border-blue-500" />
          <div *ngIf="form.controls.email.touched && form.controls.email.invalid">
            <p *ngIf="form.controls.email.hasError('required')" class="text-red-500 text-xs mt-1">This field is mandatory</p>
            <p *ngIf="form.controls.email.hasError('email')" class="text-red-500 text-xs mt-1">Please enter a valid email</p>
          </div>
        </div>
  
        <div>
          <input formControlName="password" placeholder="Enter password" [type]="showPassword ? 'text' : 'password'"
            class="w-full px-4 py-2 rounded-lg bg-gray-200 border border-gray-300 focus:outline-none focus:border-blue-500" />
          <div *ngIf="form.controls.password.touched && form.controls.password.invalid">
            <p *ngIf="form.controls.password.hasError('required')" class="text-red-500 text-xs mt-1">This field is mandatory</p>
            <p *ngIf="form.controls.password.hasError('minlength')" class="text-red-500 text-xs mt-1">Password must be at least 6 characters</p>
          </div>
        </div>
  
        <button type="submit"
          class="w-full bg-blue-500 text-white py-2 rounded-lg font-semibold hover:bg-blue-600 transition duration-300">Login</button>
      </form>
  
      <hr class="my-4 border-b border-gray-300" />
  
      <div class="flex justify-center items-center space-x-2">
        <a routerLink="/forgot-password" class="text-blue-600">Can't log in?</a>
        <span class="text-gray-500">•</span>
        <a routerLink="/register" class="text-blue-600">Sign up for an account</a>
      </div>
    </div>
  </div>
  