<div class="container mx-auto">
    <div>
    <h1 class="text-lg font-bold">About</h1>
    <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente voluptates possimus laudantium saepe eveniet. Quas repudiandae maxime eum exercitationem ab ducimus ex, ipsum, fuga, laudantium voluptates corrupti suscipit atque expedita?</p>
    <p class="text-sm">Numero de Clientes: <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() > 0"></app-counter></p>
</div>
</div>
